
table th{
background: #ddd;
}

body{
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    width: 100% 
}

table td, table th {
border: 3px solid #d13737;
padding: 5px;
text-align: center;
}

.responsive-table{
    max-width: 100%;
    overflow-x: auto;
}