
table th{
background: #ddd;
}

body{
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%
}

table td, table th {
border: 3px solid #ccc;
padding: 5px;
text-align: center;
}